/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles go here */

/* App.css */
.side-link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s, font-size 0.3s;
  font-size: 20px; /* Base font size */
}

.side-link:hover {
  background-color: #800080;
  margin-left: 5px; /* Add margin to the left */
  margin-right: 5px; /* Add margin to the right */
}
